/* individual articles */
.article-sen_1 {
  --article-image: url("images/articles/sen_1.jpg");
}

.article-sci_1 {
  --article-image: url("images/articles/sci_1.jpg");
}

.article-vit_1 {
  --article-image: url("images/articles/vit_1.jpg");
}

.article-vit_2 {
  --article-image: url("images/articles/vit_2.jpg");
}

.article-log_1 {
  --article-image: url("images/articles/log_1.jpg");
}

