/* SCIENTIA ARTICLES */

.article-sci-A1 {
  --article-image: url("articles/scientia/sci-A1/sci-A1.jpg");
}


/* VITALIS ARTICLES */

.article-vit-A1 {
  --article-image: url("articles/vitalis/vit-A1/vit-A1.jpg");
}

.article-vit-A2 {
  --article-image: url("articles/vitalis/vit-A2/vit-A2.jpg");
}


/* LOGOS ARTICLES */

.article-log-A1 {
  --article-image: url("articles/logos/log-A1/log-A1.jpg");
}


/* SENSUS ARTICLES */

.article-sen-A1 {
  --article-image: url("articles/sensus/sen-A1/sen-A1.jpg");
}

.article-sen-A2 {
  --article-image: url("articles/sensus/sen-A2/sen-A2.jpg");
}

